@import url('./assets/fonts/Ubuntu-Bold.ttf');
@import url('./assets/fonts/Ubuntu-Medium.ttf');
@import url('./assets/fonts/Ubuntu-Regular.ttf');
* {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

:root {

    /* ## Layout */
    --mobile-width: 375px;
    --Desktop-width: 1440px;

    /* **## Colors** */

    /* ### Primary */
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    /* ### Neutral */
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

    /* ***## Typography*** */

    /* ### Body Copy */
    --font-size-paragraph: 16px;

    /* ### Font */
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
}

/* 
---------------------------------------
========== GLOBAL STYLING =============
---------------------------------------
*/
body {
    background: var(--Magnolia);
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 20px 0px;
}
.main-container {
    width: 66%;
    min-height: 80%;
    background-color: var(--White);
    padding: 10px;
    border-radius: 15px;
    flex-wrap: wrap;
    box-shadow: 1px 2px 15px -5px var(--Light-gray);
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 15px 30px;
    color: var(--White);
    background-color: var(--Marine-blue);
    border-radius: 10px;
    cursor: pointer;
}
section,
.section-2,
.section-3 {
    position: absolute;
    visibility: hidden;
}

/* 
------------------------------------------
========== SIDE-BAR STYLING =============
------------------------------------------
*/
nav {
    flex: 2;
    height: inherit;
    background: url("./assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    border-radius: 15px;
    padding: 30px;
}
nav ul {
    height: 50%;
    justify-content: space-between;
}
section {
    width: 100%;
    border-radius: 10px;
}
.option-no {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-weight: var(--font-weight-700);
    border: 1px solid var(--Light-gray);
    color: var(--Light-gray);
    border-radius: 50%;
    margin-right: 15px;
}
.option {
    display: flex;
    align-items: center;
}
.option-content {
    text-transform: uppercase;
    line-height: 1.2rem;
}
.option-content p {
    font-size: 12px;
    color: var(--Light-gray);
}
.option-content h3 {
    font-size: 14px;
    color: var(--Magnolia);
}
.option:hover .option-no,
.active{
    background-color: var(--Pastel-blue);
    border-color: var(--Pastel-blue);
    color: var(--Marine-blue);
}
/* 
----------------------------------------------
============ FORM CONTAINER STYLING ==========
----------------------------------------------
*/
.main-form-section {
    flex: 6;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.form-section-container {
    position: relative;
}
.form-section-container,
.form-nav-section {
    width: 74%;
}
section {
    margin-bottom: 50px;
}

/* 
-----------------------------------
============ MAIN FORM 1 ==========
-----------------------------------
*/
.section-title {
    padding-bottom: 10px;
}
.section-title h1 {
    font-size: 38px;
    line-height: 4rem;
    color: var(--Marine-blue);
}
.section-title h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--Light-gray);
}
form {
    row-gap: 20px;
    column-gap: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    color: var(--Light-gray);
    border: 0.12rem solid var(--Light-gray);
    padding: 25px 15px;
    cursor: pointer;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    outline-color: var(--Purplish-blue);
}
.label {
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--Marine-blue);
    font-weight: 500;
}
.label p {
    font-weight: var(--font-weight-700);
    color: var(--Strawberry-red);
}
form {
    margin: 20px 0px;
    flex-wrap: wrap;
}

.form-nav-section {
    justify-content: space-between;
    align-items: center;
}
.back:hover {
    color: var(--Marine-blue);
}
.back,
.error-message {
    visibility: hidden;
}
/* 
-----------------------------------
============ MAIN FORM 2 ==========
-----------------------------------
*/
.form-container-section {
    position: relative;
    /* visibility: hidden; */
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border: 1px solid var(--Light-gray);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}
.card:hover,
.active-card {
    border-color: var(--Marine-blue);
    transition: all ease 500ms;
}
.active-card {
    background-color: var(--Alabaster);
}
.card img {
    width: 40%;
    margin-bottom: 50px;
}
.card-content {
    line-height: 1.3rem;
}
.card h4,
.card h6 {
    color: var(--Marine-blue);
}
.section-2-form-toggle {
    padding: 15px;
    width: 100%;
    margin: 30px 0px 80px 0px;
    gap: 20px;
    border-radius: 10px;
    background-color: var(--Alabaster);
}
.form-toggle-btn {
    width: 40px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--Marine-blue);
}
.toggle-btn {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--White);
}
.form-toggle-btn:hover .toggle-btn {
    transform: translateX(17px);
    transition: all ease-in 0.32s;
}

/* 
-----------------------------------
============ MAIN FORM 3 ==========
-----------------------------------
*/
.section-3 {
    gap: 15px;
}
.opt-card {
    border: 0.12rem solid var(--Light-gray);
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}
.checkbox {
    gap: 20px;
}
.opt-card-container {
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 15px;
}
/* 
------------------------------------------
========== REUSEABLE STYLING =============
------------------------------------------
*/
.option,
.btn,
.back,
input {
    cursor: pointer;
}

.show {
    /* display: block; */
    visibility: visible;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    body {
        position: relative;
    }
    .flex column{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        flex-direction: row;
        height: 300px;
        background-size: cover;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        z-index: 1;
    }
    .option-content{
        display: none;
    }
    .show{
        position: absolute;
        top: 15%;
        max-width: 375px;
        background-color: white;
    }
    .main-form-section flex column{
        padding: 2rem;
    }
    .btns{
        position: fixed;
        bottom: 0;
        background-color: white;
        right: 0;
        left: 0;
        height: 100px;
        padding-inline: 1rem;
    }
    .btn{
        margin: auto 0 auto auto;
    }
    .main-form{
        flex-direction: column;
        gap: 0.5rem;
    }
    .attribution{
        position: fixed;
        width: 100%;
    }
}
